@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 26, 26, 26;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Custom font weight for MONOSPACE logo */
h1 {
  font-weight: 300;
  letter-spacing: -0.02em;
}

html {
  scroll-behavior: smooth;
}

.outline-text {
  -webkit-text-stroke: 1px white;
  color: transparent; /* Makes the fill transparent */
}

